#login-container {
    margin-top: 20%;
}
#login-container h2,
#login-container Button,
#login-container Form {
    width: 100%;
}
#login-container .Form-Label {
    float: left;
}
#login-container Button {
    margin-top: 20px;
}